.container {
  display: flex;
  flex-direction: column;
}

.information-title {
  margin-top: 20px;
  padding: 10px;
}
.container-img {
  display: flex;
  justify-content: center;
  margin: 15px;
  padding-top: 75px;
}
img {
  width: 200px;
  height: 200px;
  border-radius: 25%;
}

.list-item {
  border: 1px solid black !important;
}
